<div class="col-sm-12">
    <form class="add-item-form">
        <label class="col-sm-1">Nazwa:</label><input type="text" class="col-sm-2" ng-model="Division.Name" />
        <button class="btn btn-default" ng-click="addDivision()">Zapisz</button>
    </form>
    <div class="col-sm-12 addition-succeded alert-success">Prawidłowo dodano zespół.</div>
    <button ng-click="showForm()" class="btn btn-primary show-form-button col-sm-4 col-sm-offset-4 text-center">Dodaj kolejny zespół</button>
</div>
<div class="clearfix"></div>