<div class="col-sm-12">
    <form class="top-margin">
        <journal-fields></journal-fields>
        <button class="btn btn-default update-item-button" ng-click="updateJournal()">Zapisz</button>
    </form>
    <div class="col-sm-12 update-succeded alert-success">Prawidłowo zaktualizowano dane wydawnictwa.</div>
    <button ng-click="showUpdateForm()" class="btn btn-primary show-form-button col-sm-4 col-sm-offset-4 text-center">Aktualizuj dane wydawnictwa</button>
</div>
<div class="clearfix"></div>