
<form class="update-item-form top-margin">
    <label class="col-sm-1">ISSN:</label><input type="text" class="col-sm-2" ng-model="Journal.ISSN" />
    <label class="col-sm-1">Tytul:</label><input type="text" class="col-sm-2" ng-model="Journal.Title" />
    <button class="btn btn-default" ng-click="updateJournal()">Zapisz</button>
</form>
<div class="col-sm-12 update-succeded alert-success">Prawidłowo zaktualizowano dane wydawnictwa.</div>
<button ng-click="showUpdateForm()" class="btn btn-primary show-form-button col-sm-4 col-sm-offset-4 text-center">Aktualizuj dane wydawnictwa</button>

<div class="clearfix"></div>