<div class="jumbotron">
    <h1>Publication Assistance System</h1>
    <p>Databases passing project.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>To see:</h2>
        <p>API Reference contains description of Web API.</p>
        <p>
    </div>
</div>  