<form class="add-item-form">
    <label class="col-sm-1">Skrót:</label><input type="text" class="col-sm-2" ng-model="Faculty.Abbreviation" />
    <label class="col-sm-1">Nazwa:</label><input type="text" class="col-sm-2" ng-model="Faculty.Name" />
    <button class="btn btn-default" ng-click="addFaculty()">Zapisz</button>
</form>
<div class="col-sm-12 addition-succeded alert-success">Prawidłowo dodano wydział.</div>
<button ng-click="showForm()" class="btn btn-primary show-form-button col-sm-4 col-sm-offset-4 text-center">Dodaj kolejny wydział</button>
