
<div class="row">
    <label class="col-md-3">Tytuł:</label>
    <input type="text" name="title" ng-model="publication.Title" />
</div>

<div class="row">
    <label class="col-md-3">Data publikacji:</label>
    <input type="datetime" name="datetime" ng-model="publication.PublicationDate" />
</div>

<div class="row">
    <label class="col-md-3">Pracownicy:</label>
    <select multiple size="6" ng-model="publication.Employees" class="col-sm-2">
        <option ng-repeat="employee in employees" value="{{employee.Id}}">{{employee.FirstName}} {{employee.LastName}}</option>
    </select>
</div>

<div ng-switch="publicationType">
    <div ng-switch-when="Books">

        <div class="row">
            <label class="col-md-3">ISBN:</label>
            <input type="text" name="isbn" ng-model="publication.ISBN" />
        </div>

        <div class="row">
            <label class="col-md-3">Wydawca:</label>
            <input type="text" name="publisher" ng-model="publication.Publisher" />
        </div>

    </div>
    <div ng-switch-when="Articles">

        <div class="row">
            <label class="col-md-3">Strona od:</label>
            <input type="number" name="pageFrom" ng-model="publication.PageFrom" />
        </div>

        <div class="row">
            <label class="col-md-3">Strona do:</label>
            <input type="number" name="pageTo" ng-model="publication.PageTo" />
        </div>

        <div class="row">
            <label class="col-md-3">Wydanie czasopisma:</label>
            <select ng-model="publication.JournalEditionId" class="col-sm-3">
                <option ng-repeat="journalEdition in journalEditions" value={{journalEdition.Id}}>
                    {{journalEdition.Journal.Title}}: {{journalEdition.PublishDate}}
                </option>
            </select>
        </div>

    </div>
</div>


