<div ng-repeat="publication in publications">   
    <div ng-switch="publicationType">
        <div ng-switch-when="ConferencePapers"><conference-paper-fields></conference-paper-fields></div>
        <div ng-switch-when="TechnicalReports"><technical-report-fields></technical-report-fields></div>
        <div ng-switch-when="Theses"><thesis-fields></thesis-fields></div>
        <div ng-switch-when="Books"><books-fields></books-fields></div>
        <div ng-switch-when="Patents"><patent-fields></patent-fields></div>
        <div ng-switch-when="Articles"><article-fields></article-fields></div>
        <div ng-switch-default><publication-fields></publication-fields></div>
    </div>
</div>

<div ng-if="publications.length == 0">
    Brak publikacji
</div>
